@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Claire's Climbs</h1>
    <p>Growing up in the breathtaking landscapes of Utah, with its majestic mountains painting the horizon, naturally shaped my love for hiking. The endless trails winding through the rugged beauty of my home state provided the perfect playground for my adventurous spirit. Hiking became more than just a hobby; it's a way of life that allows me to connect with nature, challenge myself, and find peace away from the hustle and bustle of daily life.</p>
    <br />
    <div class="images-container">
        <div class="image-wrapper">
            <img src="~/lib/timpanogos.jpg" alt="Mount Timpanogos">
            <div class="hover-text">Mount Timpanogos</div>
        </div>
        <div class="image-wrapper">
            <img src="~/lib/havasu-falls_arizona.jpeg" alt="Havasu Falls">
            <div class="hover-text">Havasu Falls</div>
        </div>
    </div>
    <br />
    <p>Among my favorite treks are the awe-inspiring descents into the Grand Canyon, the serene paths weaving through Banff's pristine wilderness, and the rewarding climbs up Mount Timpanogos. Each hike, with its unique beauty and challenges, deepens my appreciation for the great outdoors and fuels my desire to explore even more.</p>
    <br />
</div>
